
    
    .container {
        min-height: 100%;
        background-color: #007AFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav {
        justify-content: center;
        display: flex;
        text-align: center;
    }
    
    .headline {
        justify-content: center;
        display: flex;
        text-align: center;
    }
    
    
    .quiz-card {
        width: 30rem;
    }
    
    .question-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
    }
    
    .quiz-answer-card:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.05);
    }
    
    .bg-success {
        color: white;
    }
    
    .bg-danger {
        color: white;
    }
    
    .none {
        display: none;
    }
    
    .width-100 {
        width: 100%;
    }
    
    .text-center {
        text-align: center;
    }
    
    .final-headline {
        font-size: 38px;
        margin-bottom: 32px;
        margin-top: 10px
    }
    
    .button-row {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }
    
    
    
    
    